<!DOCTYPE html>
<html>  
<head>
    <title>ShopVista Login Page</title>
    <link rel = "stylesheet"
          href="/css/AdminLogin.css">
</head>
<!-- Form based on: https://www.geeksforgeeks.org/html-login-form/-->
<body>
    <div class = "main">
        <h1>Sign in as admin</h1>
        <form action ="/adm", method = "post"> <!-- creates the form-->
            <p>
                <a href ="/"
                    style = "text-decoration: navy; font-size: 13px;">
                    RETURN TO HOME PAGE
                </a>
            </p>
            <label for =""> <!-- Username input-->
                Username:
             </label>
            <input type = "text"
                    id = "username"
                    name = "username"
                    placeholder="Enter your username" required>
            
            <label for = "password"> <!-- Password input-->
                Password:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Enter your password" required>
            <label for = "adminKey"> <!-- Key input-->
                AdminKey:
            </label>
            <input type = "text"
                    id = "key"
                    name = "key"
                    placeholder = "Enter your key" required>
            <div class = "warp"> <!--Submit button-->
                <button type = "submit"
                        oneclick = "solve()">
                Submit
                </button>
            </div>
            <% if (messages.error) { %>
                <div class="alert alert-danger", style = "color: red; font-weight: bold; font-size: 13px; ">
                    <%= messages.error %>
                </div>
            <% } %> <!-- Error message if the user enters the wrong username or password-->
        </form>
    </div>
</body>
</html>