<!DOCTYPE html>
<html>  
<head>
    <title>Blacklist user from system</title>
    <link rel = "stylesheet"
          href="/css/Blacklist.css">
</head>
<!-- Form based on: https://www.geeksforgeeks.org/html-login-form/-->
<body>
    <div class = "main">
        <h1>Blacklist user from system</h1>
        <p>
            <a href ="/usermenu"
                style = "text-decoration: navy; font-size: 13px;">
                RETURN TO USER MANAGEMENT PAGE
            </a>
        </p>
        <form action ="/blklist", method = "post"> <!-- creates the form-->
            <label for ="username"> <!-- Username input-->
                Username to be blacklisted:
             </label>
            <input type = "text"
                    id = "username"
                    name = "username"
                    placeholder="Enter username" required>
            
            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
        </form>
        
        
    </div>
</body>
</html>