<!DOCTYPE html>
<html>  
<head>
    <title>Edit user information</title>
    <link rel = "stylesheet"
          href="/css/login.css">
</head>
<!-- Form based on: https://www.geeksforgeeks.org/html-login-form/-->
<body>
    <div class = "main">
        <h1>Edit user information</h1>
        <form action ="/edit", method = "post", enctype="multipart/form-data"> <!-- creates the form-->
            <p>
                <a href ="/usermenu"
                    style = "text-decoration: navy; font-size: 13px;">
                    RETURN TO USER MANAGEMENT SELECTION MENU
                </a>
            </p>
            <label for ="username"> <!-- Username input-->
                Target username:
             </label>
            <input type = "text"
                    id = "Tusername"
                    name = "Tusername"
                    placeholder="Enter target username" required>
            <label for ="username"> <!-- Username input-->
                New Username:
             </label>
            <input type = "text"
                    id = "username"
                    name = "username"
                    placeholder="Enter new username" required>
            
            <label for = "password"> <!-- Password input-->
                Password:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Enter new password" required>
            

            <label for ="balance">Account Balance</label>
            <input type = "number"
                    id = "balance"
                    name = "balance"
                    placeholder="Enter new account balance">

            <label for="profilepic">Profile Picture:</label>
                <input type="file"
                    id="profilepic"
                    name="profilepic"
                    accept="image/*">
                            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
            
            
        </form>
        
    </div>
    <% if (messages.error) { %>
        <script>
            alert('<%= messages.error %>');
        </script>
    <% } %>
    
</body>
</html>