<!DOCTYPE html>
<html>  
<head>
    <title>ShopVista Login Page</title>
    <link rel = "stylesheet"
          href="/css/login.css">
</head>
<body>
    <div class = "main">
        <h1>Sign in</h1>
        <form action ="/log", method="post"> <!-- creates the form-->
            <label for ="first"> <!-- Username input-->
                Username:
             </label>
            <input type = "text"
                    id = "username"
                    name = "username"
                    placeholder="Enter you username" required>
            
            <label for = "password"> <!-- Password input-->
                Password:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Enter your password" required>
            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
        </form>
        <p>
            Not registered?
            <a href ="/signup"
                style = "text-decoration: navy;">
                Sign up here!
            </a>
        </p>
        <% if (messages.error) { %>
            <div class="alert alert-danger", style = "color: red; font-weight: bold; font-size: 10px; ">
                <%= messages.error %>
            </div>
        <% } %> <!-- Error message if the user enters the wrong username or password-->
    </div>
</body>
</html>