<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ShopVisa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header bg-white p-3"> <!-- Header -->
        <div class="header-container">
            <a href="/homepage">
                <img src="../image/logo.png" alt="Logo" class="logo">
            </a>
            <div class="action-container"> <!-- Add a container for the search bar and the login button -->
                <div class="search-container">
                    <form class="input-group" id="search-form"> <!-- Add a search form --> <!-- ID is for JS-->
                        <input type="text" class="form-control search-input" id="search-bar" placeholder="Search">
                        <div id="preview-container"></div>
                    </form>
                </div>
                <a href="/cart">
                    <button class="btn btn-primary my-button">Cart</button>
                </a>
                <a href="/login">
                    <button class="btn btn-primary my-button">Login</button>
                </a>
            </div>
            <!-- Add a link to the cart page and other url -->
        </div>
    </div>
    </div>
    <div class="container mt-5">
        <a id="historyLink" href="javascript:history.back()" style="color: rgb(0, 0, 0); font-size: small;"></a>
        <div class="row">
            <div class="col-md-6">
                <img src="../image/sample.png" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-6">
                <h2>Product Name</h2>
                <h4>$Product Price</h4>
                <p>Product Description</p>
                <label for="quantity" style="font-size: 15px;">Quantity</label><br>
                <!-- <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" style="width: 60px; height: 30px; border: 1px solid #ccc; border-radius: 4px;"><br><br> -->
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="100">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button><br><br>
                </div>
                <a href="/cart" class="btn btn-primary cart-button" style="height: auto; width: 300px;">Add to Cart</a>
                
            </div>

            <div class="col-md-12"></br></div>

            <div class="col-md-9"> <!-- 75% of row-->
                <span class="heading">Consumer Rating</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>4 average based on 5 reviews.</p> <!--  later retrive from backend -->
                <hr style="border:3px solid #f1f1f1">
                <div class="raterow">
                    <div class="side">
                        <div>5</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                        <div class="bar-5"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>3</div>
                    </div>
                    <div class="side">
                        <div>4</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                        <div class="bar-4"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>1</div>
                    </div>
                    <div class="side">
                        <div>3</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                        <div class="bar-3"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>0</div>
                    </div>
                    <div class="side">
                        <div>2</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                        <div class="bar-2"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>0</div>
                    </div>
                    <div class="side">
                        <div>1</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                        <div class="bar-1"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>1</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12"></br></div>

            <div class="col-md-12">
                <div class="heading">
                    <span>Consumer Comments</span>
                    <span>2</span>
                    <span style="align-self: flex-end;">
                        <div class="dropdown">
                            <button class="dropbtn"><img src="../image/sort-arrows-couple-pointing-up-and-down.png" style="height: 20px;"/>Order</button>
                            <div class="dropdown-content">
                                <button class="dropdown-block">
                                    Sort by Time
                                </button>
                                <button class="dropdown-block">
                                    Sort by Rating
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
                <hr style="border:3px solid #f1f1f1">
                <!-- to be implement later for getting new comment -->
                <div class="search-container"> 
                    <form class="input-group" id="comment-form"> 
                        <input type="text" class="form-control comment-input" id="comment-box" placeholder="Leave Your Comment...">
                        <div id="preview-container"></div>    
                    </form>
                </div>
                <hr style="border:3px solid #f1f1f1">
                <div calss="Comments">
                    <div class="col-md-12">
                        <span>Rating: </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="comment-time"> 2 weeks ago</span>
                        <div class="comment-content">First comment.</div>
                        <hr style="border:3px solid #f1f1f1">
                    </div>
                </div>
                <div calss="Comments">
                    <div class="col-md-12">
                        <span>Rating: </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="comment-time"> 3 days ago</span>
                        <div class="comment-content">Second comment.</div>
                        <hr style="border:3px solid #f1f1f1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #333; color: white; padding: 10px;">
        <div><a href="#" class="scroll-to-top" title="Scroll to top" style="color: white;">Back to top</a></div>
        <div>
            
            <a href="/adminlogin" style="color: white;">Admin Login</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>