<!DOCTYPE html>
<html>  
<head>
    <title>New user information</title>
    <link rel = "stylesheet"
          href="/css/RmUser.css">
</head>
<body>
    <div class = "main">
        <h1>Remove user from system</h1>
        <form action ="/usermenu"> <!-- creates the form-->
            <label for ="first"> <!-- Username input-->
                Username to be removed:
             </label>
            <input type = "text"
                    id = "first"
                    name = "first"
                    placeholder="Enter username" required>
            
            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
        </form>
        <p>
            <a href ="/usermenu"
                style = "text-decoration: navy;">
                Return to functions menu
            </a>
        </p>
        
    </div>
</body>
</html>