<!DOCTYPE html>
<html>  
<head>
    <title>Sign up for an account</title>
    <link rel = "stylesheet"
          href="/css/login.css">
</head>
<!-- Form based on: https://www.geeksforgeeks.org/html-login-form/-->

<body>
    <div class = "main">
        <h1>Sign up for an account</h1>
        <form action ="/reg", method = "post", enctype="multipart/form-data"> <!-- creates the form-->
            <p>
                <a href ="/login"
                    style = "text-decoration: navy; font-size: 13px;">
                    RETURN TO LOGIN PAGE
                </a>
            </p>
            <label for ="username"> <!-- Username input-->
                Username:
             </label>
            <input type = "text"
                    id = "username"
                    name = "username"
                    placeholder="Enter you username" required>
            
            <label for = "password"> <!-- Password input-->
                Password:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Enter your new password" required>
            <label for = "password1"> <!-- Password input-->
                Enter password again:
            </label>
            <input type = "password"
                    id = "password1"
                    name = "password1"
                    placeholder = "Repeat new password" required>

            <label for ="balance">Account Balance</label>
            <input type = "number"
                    id = "balance"
                    name = "balance"
                    placeholder="Enter your account balance">

            <label for="profilepic">Profile Picture:</label>
                <input type="file"
                    id="profilepic"
                    name="profilepic"
                    accept="image/*" required>
                            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
            <% if (messages.error) { %>
                <div class="alert alert-danger", style = "color: red; font-weight: bold; font-size: 15px; ">
                    <%= messages.error %>
                </div>
            <% } %> <!-- Error message if the user enters the wrong username or password-->
            
        </form>
        
    </div>
    
</body>
</html>
