<!DOCTYPE html>
<html>  
<head>
    <title>Sign up for an account</title>
    <link rel = "stylesheet"
          href="/css/signup.css">
</head>
<body>
    <div class = "main">
        <h1>Sign up for an account</h1>
        <form action ="/homepage"> <!-- creates the form-->
            <label for ="first"> <!-- Username input-->
                Username:
             </label>
            <input type = "text"
                    id = "first"
                    name = "first"
                    placeholder="Enter you username" required>
            
            <label for = "password"> <!-- Password input-->
                Password:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Enter your new password" required>
            <label for = "password"> <!-- Password input-->
                Enter password again:
            </label>
            <input type = "password"
                    id = "password"
                    name = "password"
                    placeholder = "Repeat new password" required>

            <label for="ProductImage">Profile Picture:</label>
                <input type="file"
                    id="ProductImage"
                    name="ProductImage"
                    accept="image/*">
                            
            <div class = "warp"> <!--Submit button-->
                    <button type = "submit">Submit</button>
            </div>
        </form>
        
    </div>
</body>
</html>